body{
	background-color: #e6f3f7;
}
.background{
	width: 100%;
	height: 25%;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

}

/********Navbar********/

.navbar-color{
	background-color: white;
}

.navbar-edit{
	border-radius: 0px;
}

input[type=submit]{
	background-color: white;
	border: none;
	color: black;
	font-weight: bold;
}

.caret{
	color: black;
	margin-top: -2px;
	margin-right: 20px;
}

.nav .open > a:hover{
	background-color: white;
}

.nav > li > a:hover{
	background-color: white;
}

.nav .open > a:focus{
	background-color: white;
}

.nav > li > a{
	background-color: white;
}

.dropdown-menu > li > a:focus{
	background-color: white;
}

.home-button{
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	margin-right: 10px;
	line-height: 17px !important;
}
.home-button:hover{
	color: black;
}

.brand-color, .brand-color:hover{
	color:black;
	font-size: 2em;
	margin-right: 15%;
}

.sub-menu{
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 100%;
	text-align: left;
	font-size: 1.2em;
}

.sub-menu:hover{
	background-color: #e6f3f7;
}

.main-menu-item{
	font-size: 1.2em;
	margin-top: 12px;
	margin-right: -5px;
}

/*******Register******/

.credential-panel{
    z-index: 30;
    margin-top: 130px;
    margin-left: 35%;
    width: 30%;
    height: 265px;
    border-radius: 5px;
}

.credential-form{
    background-color: #3d3dff;
    border-radius: 5px;
    margin-bottom: 0px !important;
    box-shadow: 0px 0px 5px white;
}

.credential-label{
    margin-left:5%;
    margin-top: 7px;
    margin-right: 5px;
    font-size: 1.5em;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.reg-credential{
    margin-left: 5%;
    height: 10%;
    width:90%;
    border: 1px solid black;
}

#submit, .new-project-button{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 42.5%;
    width:75px;
    height: 30px;
    font-weight: bold;
    text-shadow: none;
    background-color: #3d3dff;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.register-button:hover, .register-button:focus, .register-button:onclick{
    background-color: #CE1141 !important;
    color: white !important;
    border-bottom: 2px solid black !important;
    border-right: 2px solid black !important;
    border-top: 1px solid gray !important;
    border-left: 1px solid gray !important;
}

.sign-in{
    text-align: center;
    color: white;
    margin-bottom: 0px;
    height: 50px;
    line-height: 50px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*******Login*********/

.login-wrapper{
    margin: auto;
    margin-bottom: 7%;
    text-align: center;
    padding: 5% 0%;
    background-color: #3d3dff;
    width:65%;
    height: 56%;
    border: 1px solid black;
    border-radius: 5px;
}

.treat-title{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 4.5em;
    font-family: "Helvetica Condensed";
}

.credential-label-login{
    margin-right: 5px;
    font-size: 1.5em;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.password{
    margin-left: 2px;
}

#password{  
    margin-left: 3px;
}

.account-button, #login-button{
    text-align: center;
    font-size: 1.5em;
    width: 15%;
    height: 15%;
    line-height: 1px;
    background-color: #3d3dff;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    margin:  3.5% 5.5%;
}

/*******Main area******/

.main-background{
	height: 40%;
	width: 100%;
	background: black;
}
.img-caption{
	width: 95%;
	position: absolute;
	z-index: 10;
	text-align: center;
	bottom: 40%;
	color: black;
	font-weight: bold;
	pointer-events:none;
	opacity: 0;
}


/*****Results******/

.product-image{
	width: 150px;
	height: 100px;
}

.products-wrapper{
	background-color: white;
}

.cart-wrapper{
	margin-top: 20%;
}

.add-to-cart{
	width: 70%;
	background-color: #337ab7;
	border-color: #2e6da4;
	color: white;
	font-size: 1em;
}

.add-to-cart:hover{
	background-color: #286090;
	border-color: #122b40;
	color: white;
}

.candy{
	color: black;
}

.product-break{
	height: 2px;
	border: 0;
	box-shadow: 0 2px 2px -2px black inset;
}

.no-results-wrapper{
	height: 55%;
}


.image-wrapper{
	text-align: center;
}

/*********New Product**********/

.new_product_input{
    width: 100%;
}

.new_product_label{
    font-size: 1.2em;
}

.add_product_form{
    margin-top: 3%;
}

.sub-type-wrapper{
	overflow-y: auto;
	height: 16%;
}

.new_product_button{
	margin-top: 36% !important;
	width: 50% !important;
	margin-left: 25% !important;
}

.image-upload{
	margin-top: 29%;
}

input[type=checkbox]{
	margin-right: 5px;
}
